/* Swiper carousel styles */
.swiper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: auto;
  
}
.banner-carousel {
  font-size: 1.5rem;

}
@media (max-width: 900px) {
  .banner-carousel {
    font-size: .9rem;
  }
}