/* General layout and variables */
:root {
  --darkBlue: #354D65;
  --coral: #FA6C6C;
  --lightGray: #d9d9d9;
  --starYellow: #F5D329;
  --lightBlue: #51CBC2;
}

html, body {
  background:white;
}

.landing-page {
  display: -webkit-flex;
  display: -ms-flexbox;
  display:flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: 'Segoe UI', Arial, sans-serif;
  color: var(--coral);
}

.banner {
  background: var(--darkBlue);
  color: white;
  text-align: center;
  padding: 18px 0 8px 0;
  font-size: 2rem;
  font-weight: bold;
}

.main-section {
  background: var(--darkBlue);
  -webkit-border-radius: 5px;
  border-radius: 5px;
  width:70%;
  padding: 2rem 0 1.5rem 0;
  margin-top:1rem;
  margin-bottom: 3rem;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer {
  color: white;
  background: var(--darkBlue);
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 2rem 2.5rem 2rem 2.5rem;
  font-size: 1.1rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100%;
}
.footer div {
  margin-bottom: 0.5rem;
  padding:2rem;
}
.footer-icons{
  width: 3.5rem;
  height: 3.5rem;
}

@media (max-width: 900px) {
  .footer {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2rem 1rem;
    text-align: center;
  }
}