@font-face {
  font-family: 'Montserrat';
  src: url('/assets/fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}
:root {
  --darkBlue: #354D65;
  --coral: #FA6C6C;
  --lightGray: #d9d9d9;
  --starYellow: #F5D329;
  --lightBlue: #51CBC2;
}
.sign-in-btn {
    width: 100%;
    padding: 0.7rem;
    border-radius: 8px;
    background: var(--darkBlue);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    cursor: pointer;
}
.password-input, .identifier-input {
    width: 100%;
    padding: 0.5rem;
    margin-top: 0.3rem;
    border-radius: 8px;
    border: 2px solid var(--darkBlue);
    color: var(--darkBlue);
}
 
.login-form {
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.07);
    min-width: 300px;
    border: 3px solid var(--darkBlue);
    display: flex;
    justify-content: center;
    flex-direction: column;

}
.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f5f5f5;
}
.identifier-label, .password-label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--darkBlue);
}
.login-title {
    text-align: center;
    margin-bottom: 1.5rem;
        color: var(--darkBlue);

}
.guest-link-container {
    margin-top: 1rem;
    text-align: center;
}
.guest-link {
    color: var(--darkBlue);
    text-decoration: none;
}