/* Responsive styles */
@media (max-width: 900px) {
  .search-promo, .promo-cards, .options-cards {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .search-promo > *, .promo-cards > *, .options-cards > * {
    margin: 0.5rem 0;
  }
}