/* Navigation bar styles */
.nav-bar {
  padding: 0.5rem 0;
  color: var(--darkBlue) !important;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  gap: 9rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-bar li {
  font-size: 1.8rem;
  font-weight: bolder;
  cursor: pointer;
}
.nav-logo {
  width: 3rem;
  height: 3rem;
}
